// DEFINO COLORES 

$colorUno: #D9D9D9;
$colorDos: #BBB6B6;
$colorTres: #E5A060;
$colorCuatro: #383636;
$colorCinco: white;
$colorSeis: black;

// GRADIENTES
$gradUno: linear-gradient(to left, #BBB6B6, #282426 60%);