// ESTRUCTURAS

/* FLEXBOX DESKTOP */
.menu-flex { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
    }
    
    .lateral-flex {
        @include posicion (20px, 0px);
        background-color: $colorCuatro;
        color: $colorCinco;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        width: 60%;
    }
    
    .parrafo-flex {
        background-color: $colorTres; 
        display: flex;
        color: $colorSeis;
        width: 50%;
        padding: 5px;
        margin-bottom: 5px;
        margin-top: 15px;
        font-weight: bold;
        text-align: center;
        display: flex; 
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .seccion-flex {
        @include posicion (15px, 1%);
        background-color: $colorTres;
        font-weight: bold;
        border-color: $colorTres;
        border-radius: 5px;
        border-style: solid;
        height: 50px;
        display: flex;
    }

    .formulario-flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        width: 100%;
        background-image: $colorUno;
    }

/* MAPS */ 
$mapa: (
    fotos: #e5a060,
    caracteristicas: #BBB6B6,
);

@each $nombre, $color in $mapa {
    .background-#{$nombre} {
    background-color: $color;
    }
}

/* BOX MODELING DESKTOP */ 

.fotoHidrolavadora {
    @include tamaño (50%, 50%);
    border-style: inset 10px; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.caracteristicas {
    margin: 0px;
    font-weight: bold;
    width: 50%;
    padding: 20px;
    list-style-type: none;
    text-align: center;
}

iframe {
    @include tamaño (380px, 300px);
}